body{
	background-color:#CA3433;
}

header{
text-align:center;
}

section{
	table,th,td{
		border:1px solid black;
		margin-left: auto;
		margin-right: auto;
		

		th{
			background-color: yellow;
			color:blue;
			align:center;

	}
	
	aside{
		float:right;
		width:25%;
		height:300px;
	
	}