 #mainContainer {
 width: 400px;
 height: 400px;
 position: relative;
background: #4169e1;
}

 .square {
width: 50px;
height: 50px;
position: absolute;
}

 .redSq {
 top: 0px;
 left:0px;
  background-color: #b1424d;
   }

 .blueSq {
  top: 350px;
  left: 350px;
  background-color:#bae1ff;
}

 .yellowSq {
    top: 0px;
    left: 350px;
    background-color: rgb(252, 255, 192);
            }
.greenSq {
     top: 350px;     
    left: 0px;
    background-color: #baffc9;
            }

            header {
                margin: 0;
                text-align: center;
                color: white;
                padding: 0px;
                font-family: Arial, sans-serif;
            }
    aside {
        float: top;
        margin: 20px;
        padding: 10px;
        text-align: center;
        color:azure;
        background-color: #1d4470;
    }

    body { 
        
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        background-color: #79baec;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
    }