body{
	background-color:#cb1515;
}

header{
text-align:center;
}

section{
	table,th,td{
	border:1px solid black;
	margin-left: auto;
	margin-right: auto;

	th{
		background-color: yellow;
		color:blue;
		text-align:center;
	}
}}
	nav{
		float:left;
		width:25%;
		height:399px;

	}
	
	aside{
		float:right;
		width:25%;
		height:100vh;
	
	}