

header{
text-align:center;
}


nav{
	float:right;
	width:25%;
	height:30px;
	background:"grey";
}

aside{
	float:left;
	width:25%;
	height:30px;
	
}


section{
	align-items: center;
	width: 65%;
	table,th,td{
		
		align-content: center;
		border:1px solid black; 
		th{
			background-color: yellow;
			color:blue;

	}
		
	}}
