body {font-family: Arial, Helvetica, sans-serif;
 background-image: url("../Image/hogwart-alisa-laporte.jpg");}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #aa0404ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


.login-box {
  width: 350px;
  margin: 80px auto;
  background: rgba(255, 255, 255, 0.85);
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}


.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #4608c2; 
  font-size: 26px;
  font-weight: bold;
}


.error {
  color: red;
  background: #ffdddd;
  padding: 8px;
  border-left: 4px solid red;
  margin-bottom: 15px;
  border-radius: 6px;
}


label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}


.login-btn {
  background-color: #4B2E83;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  margin-top: 15px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.9;
}

